<header class="undefined">
    <div class="background"></div>
    <div class="ui container">
        <div class="ui menu">
            <a class="header item" href="/">
                <img src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}" alt="MoroccoJS">
            </a>

            <a href="/articles" title="Articles" class="item yellow ">Articles</a>
            <a href="/tutorials" title="Tutorials" class="item olive ">Tutorials</a>
            <a href="/news" title="News" class="item purple ">News</a>
            <a href="/events" title="Events" class="item pink ">Events</a>
            <a href="/jobs" title="Jobs" class="item blue ">Jobs</a>

            <div class="right menu">
                <div class="item">
                    <div class="ui transparent icon input">
                        <i class="search icon"></i>
                        <form action="//google.com/search" method="get" accept-charset="UTF-8" class="search-form">
                            <input name="q" results="0" class="search-form-input" placeholder="Search" type="text">
                            <input name="sitesearch" value="https://moroccojs.org" type="hidden">
                        </form>
                    </div>
                </div>
                <a href="/about" title="About" class="item grey ">About</a>
            </div>
        </div>

        <div class="jumbotron">
            <h1 class="ui inverted header">
                <span class="library">The open JavaScript developers community</span>
            </h1>
        </div>
    </div>
</header>