---
layout: default
---
<div class="section-content">
    <div class="article-wrapper">
        <ul class="post-meta">
            <li><i class="calendar outline icon"></i>1st October 2015</li>
            <li>
                <img class="ui avatar image" src="https://www.gravatar.com/avatar/68c80da48ef15d23e9d7b6876fc99c7c?s=50">
                <a href="https://github.com/Driftman" title="Soufiane ELBAZ" target="_blank" rel="external">Soufiane ELBAZ</a>
            </li>
            <li></li>
        </ul>

        <div class="ui divider"></div>

        {{ content }}
    </div>
</div>